/* navigation links anchor hover and active styles */



.navbar-customclass {
    background-color: #f3d9b0!important;
}

/* CAROUSEL
-------------------------------------------------- */
 
.carousel {
    margin-top: 51px;
  }
   
  .carrousel {
    width : 640 px ;
    height : 360 px ;
  }
   
 