<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
           <link rel="stylesheet" href="/fichierCss.css">

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    
    <body>
            <div class="container">
            <nav class="navbar navbar-customclass navbar-expand-sm">
                
                <a class="navbar-brand" href="/accueil/"><img width="160px" src="/images/logo.jpg"></a>
                <a href="/accueil/" class="me-5 text-center text-dark fw-bold" style="text-decoration: none;">ACCUEIL</a>
                <a href="/categorie/1" class="me-5 text-center text-dark fw-bold" style="text-decoration: none;">SMARTPHONE</a>
                <a href="/categorie/2" class="me-5 text-center text-dark fw-bold" style="text-decoration: none;">ACCESSOIRES</a>
                <a href="/panier" class="me-5 text-center text-dark fw-bold" style="text-decoration: none;">PANIER</a>
                <a href="#" class="me-5 text-center fw-bold btn btn-warning text-white" style="text-decoration: none;">COMPTE</a>
            </nav>

                {% block body %}{% endblock %}
        </div>
        <footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #F3d9b0;">
    © 2020 Copyright:
    <a class="text-dark" href="#">MobileGuy 2021</a>
  </div>
  <!-- Copyright -->
</footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
